body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

#place-category-label {
    margin-top: 20px;
}

#map_canvas {
    width: 700px;
    height: 500px;
}

.yelp-link {
    display: inline-block;
    margin-left: 20px;
}